@page "/index"
@inject IJSRuntime JS
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging;

<h3>Игра</h3>
@if (IsConnected)
{
    <p>Подключено к серверу!</p>
}
else
{
    <p>Подключение... @ErrorMessage</p>
}

@code {
    private HubConnection? hubConnection;
    private bool IsConnected => hubConnection?.State == HubConnectionState.Connected;
    private string ErrorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://26.171.188.146:5001/gameHub")
            .ConfigureLogging(logging =>
            {
                
                logging.SetMinimumLevel(LogLevel.Debug);
            })
            .Build();

        try
        {
            await hubConnection.StartAsync();
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Ошибка: {ex.Message}";
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}


